@page "/chat"


<h3>Chat</h3>
<select @bind="groupName">
    <option value="">Select a room</option>
    <option value="testroom1">rum1</option>
    <option value="testroom2">rum2</option>
    <option value="testroom3">rum3</option>
    <option value="testroomAll">common room</option>
</select>
<div class="form-group">
    <label>
        User:
        <input @bind="userName" />
    </label>
</div>

@if (groupName == "testroom1")
{

    if (userName == null)
    {
        <p>You have to specify a name</p>
    }
    else
    {
        <a href="/chatroom1/@userName.ToString()/@groupName.ToString()">Go to @groupName</a>

        @*<form action="/chatroom1/@userName.ToString()">
                <button @onclick="JoinGroup">Join</button>
            </form>*@
    }
}

@if (groupName == "testroom2")
{
    if (userName == null)
    {
        <p>You have to specify a name</p>
    }
    else
    {
        <a href="/chatroom2/@userName.ToString()/@groupName.ToString()">Go to @groupName</a>

        @*<form action="/chatroom2/@userName.ToString()">
                <button @onclick="JoinGroup">Join</button>
            </form>*@
    }
}
@if (groupName == "testroom3")
{
    if (userName == null)
    {
        <p>You have to specify a name</p>
    }
    else
    {
        <a href="/chatroom3/@userName.ToString()/@groupName.ToString()">Go to @groupName</a>

        @*<form action="/chatroom3/@userName.ToString()">
                <button @onclick="JoinGroup">Join</button>
            </form>*@
    }
}
@if (groupName == "testroomAll")
{
    if (userName == null)
    {
        <p>You have to specify a name</p>
    }
    else
    {
        <a href="/commonchatroom/@userName.ToString()/@groupName.ToString()">Go to @groupName</a>

        @*<form action="/chatroom3/@userName.ToString()">
                <button @onclick="JoinGroup">Join</button>
            </form>*@
    }
}





@code {


    public string userName { get; set; }

    private string groupName;



    //IsConnected => chatHubConnection.State == HubConnectionState.Connected;

}
