@page "/loginpostcustomer"
@using ECommerce.BlazorApp.Shared.Models
@inject HttpClient client
@inject NavigationManager navigationManager
@using System.Text.Json
@using System.Text
@using System.Net
@using System.Threading;
<h3>Login</h3>


<div class="form-group">
    <label>
        Username:
        <input @bind="Username" />
    </label>
</div>
<div class="form-group">
    <label>
        Password:
        <input @bind="Password" />
    </label>
</div>

@if (Count > 0)
{
    <h6>@wrongPasswordMessage</h6>
}

<button @onclick="Login">Go to CustomerRoom</button>



@code {



    public string Username { get; set; }

    public string Password { get; set; }

    private int Count { get; set; }
    private string wrongPasswordMessage { get; set; } = "Wrong username or password";

    private async void Login()
    {

        var httpContent = new StringContent(JsonSerializer.Serialize(new Admin() { Username = Username, Password = Password }), Encoding.UTF8, "application/json");
        var response = await client.PostAsync("admin", httpContent);
        if (response.StatusCode == HttpStatusCode.OK)
        {
            var content = JsonSerializer.Deserialize<Admin>(await response.Content.ReadAsStringAsync());

            if (content != null)
            {
                navigationManager.NavigateTo("/postcustomer");
            }
        }
        else
        {

            Count = 3;
            var timer = new Timer(new TimerCallback(_ =>
            {
                if (Count <= 0) return;
                Count--;

                // Note that the following line is necessary because otherwise
                // Blazor would not recognize the state change and not refresh the UI
                this.StateHasChanged();
            }), null, 1000, 1000);
        }
    }
}
