@page "/loginpostproduct"
@using ECommerce.BlazorApp.Shared.Models
@inject HttpClient client
@inject NavigationManager navigationManager
@using System.Text.Json
@using System.Text
@using System.Net
<h3>Login</h3>


<div class="form-group">
    <label>
        Username:
        <input @bind="Username" />
    </label>
</div>
<div class="form-group">
    <label>
        Password:
        <input @bind="Password" />
    </label>
</div>


<button @onclick="Login">Go to ProductRoom</button>



@code {



    public string Username { get; set; }

    public string Password { get; set; }


    private async void Login()
    {

        var httpContent = new StringContent(JsonSerializer.Serialize(new Admin() { Username = Username, Password = Password }), Encoding.UTF8, "application/json");
        var response = await client.PostAsync("admin", httpContent);
        if (response.StatusCode == HttpStatusCode.OK)
        {
            var content = JsonSerializer.Deserialize<Admin>(await response.Content.ReadAsStringAsync());

            if (content != null)
            {
                navigationManager.NavigateTo("/postproduct");
            }
        }
    }
}
