@page "/chat"


<h3>Chat</h3>
<select @bind="groupName">
    <option value="">Select a room</option>
    <option value="testroom1">rum1</option>
    <option value="testroom2">rum2</option>
    <option value="testroom3">rum3</option>
    <option value="testroomAll">common room</option>
</select>

<div class="form-group">
    <label>
        User:
        <input @bind="userName" />
    </label>
</div>

@switch (groupName)
{
    case "testroom1":
        if (userName == null || userName.Length == 0)
        {
            <p>You have to specify a name</p>
        }
        else
        {
            <a href="/chatroom1/@userName.ToString()/@groupName.ToString()">Go to @groupName</a>

        }
        break;
    case "testroom2":
        if (userName == null || userName.Length == 0)
        {
            <p>You have to specify a name</p>
        }
        else
        {
            <a href="/chatroom2/@userName.ToString()/@groupName.ToString()">Go to @groupName</a>

        }
        break;
    case "testroom3":
        if (userName == null || userName.Length == 0)
        {
            <p>You have to specify a name</p>
        }
        else
        {
            <a href="/chatroom3/@userName.ToString()/@groupName.ToString()">Go to @groupName</a>
        }
        break;
    case "testroomAll":
        if (userName == null || userName.Length == 0)
        {
            <p>You have to specify a name</p>
        }
        else
        {
            <a href="/commonchatroom/@userName.ToString()/@groupName.ToString()">Go to @groupName</a>
        }
        break;
}




@code {


    public string userName { get; set; }

    private string groupName;

}
