@page "/login"
@using ECommerce.BlazorApp.Shared.Models
@inject HttpClient client
<h3>Login</h3>

@if (admin == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <div class="form-group">
        <label>
            Username:
            <input @bind="Username" />
        </label>
    </div>
    <div class="form-group">
        <label>
            Password:
            <input @bind="Password" />
        </label>
    </div>

    @if (Username == admin.Username)
    {
        RigthUsername = true;
    }
    @if(Password == admin.Password)
    {
        RigthPassword = true;
    }


    @*En bedre måde at lave det?*@
    @if (RigthUsername == true && RigthPassword == true)
    {
        <form action="/agentroom">
            <input type="submit" value="Go to Agentroom" />
        </form>

    }
    else
    {
        <form action="">
            <input type="submit" value="Go to Agentroom" />
        </form>
        <p>Wrong username or password</p>
    }
}


@code {




    public string Username { get; set; }

    public string Password { get; set; }

    private bool RigthUsername { get; set; }
    private bool RigthPassword { get; set; }

    private Admin admin;

    protected override async Task OnInitializedAsync()
    {
        admin = await client.GetFromJsonAsync<Admin>("admin");
    }
}
