@page "/login"
@using ECommerce.BlazorApp.Shared.Models
@inject HttpClient client
@inject NavigationManager navigationManager
<h3>Login</h3>


<div class="form-group">
    <label>
        Username:
        <input @bind="Username" />
    </label>
</div>
<div class="form-group">
    <label>
        Password:
        <input @bind="Password" />
    </label>
</div>


<button @onclick="Loginn">to Agentroom</button>



@code {



    public string Username { get; set; }

    public string Password { get; set; }


    private async void Loginn()
    {

        var httpContent = new StringContent(System.Text.Json.JsonSerializer.Serialize(new Admin() { Username = Username, Password = Password }), System.Text.Encoding.UTF8, "application/json");
        var response = await client.PostAsync("admin", httpContent);
        if (response.StatusCode == System.Net.HttpStatusCode.OK)
        {
            var content = System.Text.Json.JsonSerializer.Deserialize<Admin>(await response.Content.ReadAsStringAsync());

            if (content != null)
            {
                navigationManager.NavigateTo("/agentroom");
            }
        }
    }
}
