@using ECommerce.BlazorApp.Shared.Models
<h3>OrderItems</h3>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Inventory</th>
            <th>Total price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in orderItems)
        {
            <tr>
                <td>@item.ProductName</td>
                <td>@item.Quantity</td>
                <td>@item.UnitPrice</td>
                <td>@(item.Quantity*item.UnitPrice)</td>
            </tr>
        }
    </tbody>
</table>

@code {

    [Parameter]
    public List<OrderItem> orderItems { get; set; }

}